.header
{
    font-weight: 400;
    font-style: normal;  
}

.header__logo
{
    font: 26px/26px 'Lora';
}

.header__links
{
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 20px;
}

/* entry */
.entry
{
    font-style: normal;
    font-weight: 400;
}

.entry__title
{
    font-family: 'Lora';
    font-size: 50px;
    line-height: 51px;
}

.entry__subtitle
{
    font-family: 'Oxygen';
    font-size: 17px;
    line-height: 20px;
}

/* article */
.article
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
}

/* footer */
.footer
{
    font-weight: 400;
    font-style: normal;  
}

.footer__logo
{
    font: 26px/26px 'Lora';
}

.footer__links
{
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 20px;
}
