*
{
    margin: 0;
    padding: 0;
}

p
{
    margin-top: 10px; 
    margin-bottom: 20px;
}

.heading
{
    position: absolute;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    color: rgba(46, 46, 46, 1);
    width: 100%; 
}

.heading__title
{
    padding: 0 20px;
    font: 26px/26px 'Lora';
}

.heading__links
{
    display: flex;
    font-family: 'Oxygen';
    flex-wrap: wrap;
}

.heading__link
{
    padding-right: 40px;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    color: rgba(46, 46, 46, 1);
}
/* entry */
.entry
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    height: 360px;
}

.entry__title
{
    font-family: 'Lora';
    font-size: 50px;
    line-height: 51px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    color: rgba(46, 46, 46, 1);
}

.entry__subtitle
{
    font-family: 'Oxygen';
    font-size: 17px;
    line-height: 20px;
    color: rgba(46, 46, 46, 1);
}

.logo-img
{
    background: url("E:/Metateh/Web-2023/images/logo2.png") no-repeat;
    height: 534px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
/* article */
.article-post
{
    padding: 140px 240px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;
    color: rgba(16, 19, 21, 1);
}

/* site footer */
.site-footer
{
    position: relative;
}
/* email form */
.feedback
{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: url("E:/Metateh/Web-2023/images/submit-background.png") no-repeat;    
    height: 378px;
    width: 100%;
    background-size: cover;
    background-position: center;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
}

.feedback__title
{
    font-size: 25px;
    line-height: 30px;
    padding: 81px 0 38px;
    color: rgba(239, 239, 239, 1);
}

.email-form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 50px;
}
.email-form__note
{
    width: 375px;
    height: 100%;
    border: 0;
    padding-left: 35px;
    margin-left: 20px;
}

.email-form__buttom
{
    width: 125px;
    height: 100%;
    border: 0;
    background-color: rgba(255, 255, 255, 0.28);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(248, 248, 248, 1);
}

/* basement */
.basement
{
    position: absolute;
    top: 289px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(35, 47, 56, 0.6);
    width: 100%;
    height: 89px;
    font-weight: 400;
    font-style: normal;  
}

.basement__title
{
    padding: 0 20px;
    font: 26px/26px 'Lora';
    color: rgba(255, 255, 255, 1);
}

.basement__links
{
    display: flex;
    flex-wrap: wrap;
}

.basement__link
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    padding-right: 20px;
}


