.header
{
    font-weight: 400;
    font-style: normal;  
}

.header__logo
{
    font: 26px/26px 'Lora';
}

.header__links
{
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 20px;
}

.logo
{
    font-style: normal;
    font-weight: 400;
}
.logo__title
{
    font-family: 'Lora';
    font-size: 50px;
    line-height: 51px;    
}

.logo__subtitle
{
    font-family: 'Oxygen';
    font-size: 17px;
    line-height: 20px;
}

.logo__button
{
    font-family: 'Oxygen';
    font-size: 13px;
    line-height: 20px;
}

.nav-inks
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;   
}
/* feautured posts */
.feautured-posts
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
}

.feautured-posts__header
{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

.featured-posts__major-post
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
}

.major-post__title
{
    font-family: 'Lora';
    font-size: 27px;
    line-height: 30px;     
}

.major-post__subtitle
{
    font-size: 14px;
    line-height: 25px;    
}

.major-post__info-cover
{
    font-size: 12px;
}

.info-cover__author
{
    line-height: 35px;    
}

.info-cover__date
{
    line-height: 35px;
}

 /* most recent */
.most-recent
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;    
}

.most-recent__title
{
    font-size: 20px;
    line-height: 27px;
}

/* post */
.most-recent__minor-post
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;     
}

.minor-post__text_title
{
    font-family: 'Lora';
    font-size: 16px;
    line-height: 21px;    
}

.minor-post__text
{
    font-size: 13px;
    line-height: 19px;
}

.minor-post__info
{
    line-height: 35px;   
}

.info__author
{
    font-size: 11px; 
}
.info__date
{
    font-size: 12px;     
}

/* footer */
.footer
{
    font-weight: 400;
    font-style: normal;  
}

.footer__logo
{
    font: 26px/26px 'Lora';
}

.footer__links
{
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 20px;
}
