/* heading */
.header
{
    font-weight: 400;
    font-style: normal;  
}

.heading__logo
{
    font: 26px/26px 'Lora';
}

.heading__links
{
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 20px;
}

/* logo */
.logo
{
    font-style: normal;
    font-weight: 400;
}
.logo__title
{
    font-family: 'Lora';
    font-size: 50px;
    line-height: 51px;    
}

.logo__subtitle
{
    font-family: 'Oxygen';
    font-size: 17px;
    line-height: 20px;
}

.logo__button
{
    font-family: 'Oxygen';
    font-size: 13px;
    line-height: 20px;
}

.nav-inks
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;   
}

/* feautured posts */
.feautured-posts
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
}

.feautured-posts__heading
{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
}

/* feautured post */
.feautured-post
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
}

.feautured-post__title
{
    font-family: 'Lora';
    font-size: 27px;
    line-height: 30px;     
}

.feautured-post__subtitle
{
    font-size: 14px;
    line-height: 25px;    
}

/* feautured post info */
.feautured-post-info
{
    font-size: 12px;
}

.feautured-post-info__author
{
    line-height: 35px;    
}

.feautured-post-info__date
{
    line-height: 35px;
}

 /* most recent posts */
.most-recent-posts
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;    
}

.most-recent-posts__title
{
    font-size: 20px;
    line-height: 27px;
}

/* most recent post */
.most-recent-post
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;     
}

.most-recent-post__title
{
    font-family: 'Lora';
    font-size: 16px;
    line-height: 21px;    
}

.most-recent-post__subtitle
{
    font-size: 13px;
    line-height: 19px;
}

.most-recent-post-info
{
    line-height: 35px;   
}

.most-recent-post-info__author
{
    font-size: 11px; 
}
.most-recent-post-info__date
{
    font-size: 12px;     
}

/* basement */
.basement
{
    font-weight: 400;
    font-style: normal;  
}

.basement__logo
{
    font: 26px/26px 'Lora';
}

.basement__links
{
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 20px;
}