body 
{
    margin: 0;
}

a
{
    text-decoration: none;
}

.heading
{
    width: 100%; 
    position: absolute;
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.heading__title
{
    font: 26px/26px 'Lora';
}

.heading__links
{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.heading__link
{
    font-family: 'Oxygen';
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    color: white;
}

/* logo */
.logo
{
    background: url("../img/logo.png") no-repeat;
    height: 500px;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
}

.logo__title
{
    margin: 0 0 10px; 
    font-family: 'Lora';
    font-size: 50px;
    line-height: 51px; 
    letter-spacing: 2px;
    color: white;
}

.logo__subtitle
{
    margin: 10px 0 43px;  
    font-family: 'Oxygen';
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
}

.logo__button
{
    width: 167px;
    height: 44px;
    padding: 0;
    font-family: 'Oxygen';
    background-color: #DD783F;
    color: white;
    border-radius: 3px;
    border: 0;
    font-size: 13px;
    line-height: 20px;
}

.nav-links
{
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 19.86%; 
    font-family: 'Lora';
    flex-wrap: wrap;
    font-style: normal;
    font-weight: 400;
    font-size: 14px; 
}

.nav-link
{
    line-height: 20px;
    text-decoration: none;
    color: rgba(118, 128, 136, 1);
}

/* feautured posts */
.feautured-posts
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    background-color: #F7F7F7;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
}

/* feautured post */
.feautured-post
{
    height: 280px;
    width: 460px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-decoration: none;    
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
}

.feautured-posts__heading
{
    width: 100%;
    margin: 60px 20px 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
}


.feautured-post__background_the-road-ahead
{
    background: url("../img/image1.png") no-repeat;       
}

.feautured-post__background_from-top-down
{
    background: url("../img/image2.png") no-repeat;    
}

.feautured-post__title
{
    margin-top: 157px; 
    margin-left: 4.347%;
    font-family: 'Lora';
    font-size: 27px;
    line-height: 30px; 
    color: white; 
}

.feautured-post__subtitle
{  
    margin: 0;
    margin-top: 6px; 
    margin-left: 4.347%;
    font-size: 14px;
    line-height: 25px;
    color:  rgba(255, 255, 255, 0.7);  
}

/* feautured post info */
.feautured-post-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 20px 0;
    font-size: 12px;
    color:  rgba(255, 255, 255, 0.7);  
}

.feautured-post-info__author
{
    padding-left: 36px;
    line-height: 35px;     
}

.author_Mat-Vogels
{
    background: url("../img/face1.jpg") no-repeat;
    background-position: 0 50%;
}

.author_William-Wong
{
    background: url("../img/face2.jpg") no-repeat; 
    background-position: 0 50%;
}

.feautured-post-info__date
{
    text-align: right;
    line-height: 35px;
}

 /* most recent posts */
.most-recent-posts
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0 0 108px 0;
    font-family: 'Oxygen';
    font-style: normal;
    background-color: #F7F7F7;   
}

.most-recent-posts__title
{
    width: 100%;
    margin-top: 67px;
    margin-bottom: 39px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    font-weight: 400; 
    letter-spacing: 2px;
}

/* most recent post */
.most-recent-post
{
    width: 296px;
    height: 291px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
    text-decoration: none;
    background-color: white;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
}

.most-recent-post__img
{
    width: 296px;
    height: 150px;
    border-radius: 0;
}

.most-recent-post__title
{
    width: 270px;
    margin: 14px 0 0 13px;
    text-decoration: none; 
    font-family: 'Lora';
    font-size: 20px;
    line-height: 21px; 
    color: black; 
}

.most-recent-post__subtitle
{  
    height: 40px;
    margin: 6px 13px 0 ;
    width: 270px;
    font-size: 13px;
    line-height: 19px;
    color: rgba(122, 122, 122, 1);
    word-wrap: break-word;
}

.most-recent-post-info
{
    width: 296px;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
    background-color: #FCFCFC;
    line-height: 35px;   
    color: rgba(153, 153, 153, 1);
}

.author-info
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.author-info__author-photo
{
    width: 28px;
    height: 28px;
    border-radius: 60px;  
    margin-left: 13px;  
}

.author-info__author
{
    margin-left: 10px; 
    text-align: center;
    vertical-align: middle;
    font-size: 11px;
}

.most-recent-post-info__date
{
    font-size: 12px;     
    margin-right: 13px;
}

/* site footer */
.site-footer
{
    position: relative;
}

/* email form */
.feedback
{ 
    height: 378px;
    width: 100%;
    background: url("../img/submit-background.png") no-repeat;    
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
}

.feedback__title
{
    margin: 81px 0 38px;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    color: rgba(239, 239, 239, 1);
}

.email-form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.email-form__note
{
    width: 340px;   
    height: 50px;
    border: 0;
    padding: 0 0 0 35px;
    text-align: justify;
    margin: 0;
}

.email-form__buttom
{
    width: 125px;
    height: 50px;
    padding: 0;
    border: 0;
    background-color: rgba(255, 255, 255, 0.28);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: rgba(248, 248, 248, 1);
}

/* basement */
.basement
{
    width: 100%;
    position: absolute;
    top: 289px;
    padding: 31.5px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(35, 47, 56, 0.6);
    font-weight: 400;
    font-style: normal;  
}

.basement__title
{
    font: 26px/26px 'Lora';
    color: rgba(255, 255, 255, 1);
}

.basement__links
{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.basement__link
{        
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
